{block content}
<div class="first-div"></div>

<div class="container mb-5">
	<h1 class="display-3 header" align="center" style="color: #464646;" n:block=title>Přehled testů</h1>
</div>

<div class="container">
		{var $currentArticle = 0}
		{foreach $tests['tests'] as $key => $test}
			{if $test->idarticle == 0}
				<div class="row">
					<div class="col">
						<h1 class="display-5 header" style="color: #525252;">Obecné testy</h1>
						<hr>
					</div>
				</div>
				<div class="row">
			{elseif $test->idarticle == 1 && $currentArticle == 0}
				</div>
				<div class="row">
					<div class="col">
						<h1 class="display-5 header mt-4" style="color: #525252;">{$test->article_name}</h1>
						<hr>
					</div>
				</div>
				<div class="row">
				{var $currentArticle = 1}
			{elseif $test->idarticle > $currentArticle}
				</div>
				<div class="row">
					<div class="col">
						<h1 class="display-5 header mt-4" style="color: #525252;">{$test->article_name}</h1>
						<hr>
					</div>
				</div>
				<div class="row">
				{var $currentArticle = $test->idarticle}
			{/if}
			{if $test->difficulty == 'Lehký'}
				{var $bord_color = 'success'}
				{var $bg_color = 'background: rgb(209,255,204)'}
			{elseif $test->difficulty == 'Střední'}
				{var $bord_color = 'warning'}
				{var $bg_color = 'background: rgb(255,248,204)'}
			{elseif $test->difficulty == 'Těžký'}
				{var $bord_color = 'danger'}
				{var $bg_color = "background: rgb(255,233,219)"}
			{/if}
			<div class="col-md-3">
				<div class="card mb-2 shadow-sm border-{$bord_color}">
					<a n:href="Test:start $test->idtest">
						<div class="card-header" style="{$bg_color|noescape};">
							<h5>{$test->name}</h5>
						</div>
						<div class="card-body">
							{if count($tests['doneTestQuestions'][$key]) > 0}
								<h6>Úspěšnost:</h6>
								<svg viewBox="0 0 36 36" class="circular-chart-test" style="min-height: 150px; max-height: 150px;">
									{if $tests['doneTestQuestions'][$key]['percentage'] >= 75}
										{var $color = 'good'}
									{elseif $tests['doneTestQuestions'][$key]['percentage'] >= 30}
										{var $color = 'medium'}
									{else}
										{var $color = 'bad'}
									{/if}
									<path class="circle {$color}" stroke-dasharray="{$tests['doneTestQuestions'][$key]['percentage']}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
									<text x="18" y="21" class="percentage">{$tests['doneTestQuestions'][$key]['percentage']}%</text>
								</svg>
							{else}
								<h6>Neřešeno</h6>
								<svg viewBox="0 0 36 36" class="circular-chart-test" style="min-height: 150px; max-height: 150px;">
									<path class="circle" style="stroke: #cfcfcf;" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
									<text x="18" y="21" class="percentage" style="fill:#b6b6b6;">--</text>
								</svg>
							{/if}
							<p><strong>Obtížnost: </strong>{$test->difficulty}</p>
						</div>
					</a>
				</div>
			</div>
		{/foreach}
	</div>
</div>