{block content}
<div class="first-div"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="text-center mb-4">Návod k ovládacím prvkům testu</h1>
			<img src="{$basePath}/images/testGuide.png">
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<h3 align="center">Vysvětlivky</h3>
			<ol>
				<li>Název testu.</li>
				<li>Tlačítko pro ukončení testu. Zobrazí se vyskakovací okno pro potvrzení ukončení. <b>!Odpovědi se neuloží!</b></li>
				<li>Zobrazení zbývajícího času textovou i grafickou formou.</li>
				<li>Číslo otázky a její znění.</li>
				<li>Oblast pro obrázek nebo předmět otázky.</li>
				<li>Vrácení na předchodí otázku.</li>
				<li>Posunutí na následující otázku.</li>
				<li>Mapa (přehled) otázek.</li>
				<ul>
					<li>Bílý čtvereček - doposud nezodpovězená otázka</li>
					<li>Zelený čtvereček - již zodpovězená otázka</li>
					<li>Žluté ohraničení - aktuální otázka</li>
				</ul>
				<li>Odpovědi - kliknutím na odpověď se zvýrazní, následné kliknutí Vaši odpověď zruší.</li>
				<li>Dokončení testu a odeslání výsledků.</li>
			</ol>
		</div>
	</div>
</div>
