{block content}

<div class="container jmb-test" align="center">
    <div class="jumbotron jumb">
        <div class="container">
            <div class="row">
                <div class="col" style="color:#e9ecef;">
                    <h1 style="color:whitesmoke;">Poznávací test</h1>
                    <span class="float-right font-weight-bold mb-1">Zbývající čas: 2:14</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {*<div class="progress mb-3" style="height: 1px;">*}
                        {*<div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>*}
                    {*</div>*}
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 pl-0">
                    {*<button class="btn btn-primary mr-auto" style="min-height: 100%;background: transparent; border: none; min-width: 100px;"><</button>*}
                    <a href="" class="test-nextprev-btn">
                        <i class="fas fa-arrow-circle-left"></i>
                    </a>
                </div>
                <div class="col-sm-8" style="position:center;min-height: 100%">
                    <div class="row">
                        <div class="col pt-2 pb-2">
                            <h2 style="color: #e9ecef;">Otázka č. 5</h2>
                            <div class="pt-2 pb-4">
                                <img src="{$basePath}/images/sykora_konadra.jpg" class="img-fluid rounded test-img" alt="Sýkora koňadra" />
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3 pb-3">
                        <div class="col p-1">
                            <button class="btn btn-primary test-ans-button font-weight-bold" style="width: 100%;">1. Odpověď</button>
                        </div>
                        <div class="col p-1">
                            <button class="btn btn-primary test-ans-button font-weight-bold" style="width: 100%;">2. Odpověď</button>
                        </div>
                    </div>
                    <div class="row pt-3 pb-1">
                        <div class="col p-1">
                            <button class="btn btn-primary test-ans-button font-weight-bold" style="width: 100%;">3. Odpověď</button>
                        </div>
                        <div class="col p-1">
                            <button class="btn btn-primary test-ans-button font-weight-bold" style="width: 100%;">4. Odpověď</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pt-4"></div>
                    </div>
                </div>
                <div class="col-sm-2 ">
                    <a href="" class="test-nextprev-btn ml-auto">
                        <i class="fas fa-arrow-circle-right ml-auto"></i>
                    </a>
                </div>
            </div>
            <div class="row ">
                <div class="col pt-4 pb-4">
                    <div class="d-flex justify-content-start">
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: #8ad62f">1</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: #8ad62f">2</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">3</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: #8ad62f">4</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-warning" style="background: white">5</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">6</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">7</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">8</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">9</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">10</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">11</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">12</div>
                        <div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">13</div>
                    </div>
                    {*<div class="d-flex justify-content-start">*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: white">1</div>*}
                        {*<div class="pl-3 pr-3 pt-2 pb-2 mr-1 border border-primary" style="background: cadetblue">2</div>*}
                    {*</div>*}
                </div>
            </div>
        </div>
    </div>
</div>